html {
  touch-action: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000000;
}

#coverBlack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #000000;
}
